openai
tqdm
tiktoken
pdf2image
requests
flask 
python-jose 
passlib 
python-multipart
PyJWT
langchain==0.2.16
langchain-core==0.2.38
langchain_community==0.2.16
unstructured==0.16.3
libmagic
chromadb==0.5.16
langgraph==0.2.43
numexpr==2.10.1
langchain-openai==0.2.5